.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.legend-label { 
  font-size: 12px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 20px;
}

/* .form-control {
  width: 20% !important;
} */

#date-selector {
  width: 100%
}

select.form-control, input.form-control, textarea.form-control {
  width: 30%;
}

@media screen and (max-width: 850px) {

  .chart-container {
    width: 100%!important;
  }

  select.form-control, input.form-control, textarea.form-control {
    width: 80%;
  }
  a.ml-auto.nav-link {
    margin-left: 0!important;
  }
  .chart-wrapper {
    width: 100%!important;
  }
  
}

.chart-wrapper {
  padding: 10px;
}

.text-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.chart-container {
  padding-top: 10px;
  padding-bottom: 10px; 
}

.legend-block {
  vertical-align: middle;
  display: inline-block;
  width: 20px; 
  height: 14px;
}

.legend-label {
  margin-left: 10px; 
  display: inline-block;
}

.crossed-line {
  text-decoration: line-through;
}


