.App {
  text-align: center;
}

html, body, #root, .auth-body { height:100%; }

.auth-body {
  background:#2e8ee2 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.legend-label { 
  font-size: 12px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 20px;
}

#login-form {
  width: 100%;
}

/* .form-control {
  width: 20% !important;
} */

#transaction-type-selector, #date-selector {
  width: 100%
}

select.form-control, input.form-control, textarea.form-control {
  width: 30%;
}

@media screen and (max-width: 850px) {

  .chart-container {
    width: 100%!important;
  }

  .site-header {
    font-size: 2rem;
    font-size: 7vw!important;
    text-align: center!important;
    margin: auto;
  }

  .login-header {
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  .auth-wrapper {
    margin-top: .5rem;
  }

  .auth-inner {
    width: 80%!important;
    padding: 10px 25px 15px 25px!important;
  }

  select.form-control, input.form-control, textarea.form-control {
    width: 80%;
  }
  a.ml-auto.nav-link {
    margin-left: 0!important;
  }
  .chart-wrapper {
    width: 100%!important;
  }

  .login-register-link {
    font-size: .8rem;
  }
  /* .transactions-table.table{
    width: unset!important;
  } */

  /* #table-header {
    width: 25%!important;
  }
   */
}

.chart-wrapper {
  padding: 10px;
}

.text-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.chart-container {
  padding-top: 10px;
  padding-bottom: 10px; 
}

.legend-block {
  vertical-align: middle;
  display: inline-block;
  width: 20px; 
  height: 14px;
}

.legend-label {
  margin-left: 10px; 
  display: inline-block;
}

.crossed-line {
  text-decoration: line-through;
}

/* .transactions-table.table{
  width: 80%;
} */

.notes-header h4 {
  display: inline-block;
}

.notes-header span {
  font-size: 1.5rem;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.login-header {
  margin-top: 1rem
}

.site-header {
  color: lightcyan;
  text-align: center;
  font-family: unset;
  font-size: 4rem;
}

.login-register-link {
  padding-top: 1rem;
}